html{
  height:100%;
}

body{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  font-size:1em;
  font-family: "times new roman";
  background-color: #424242;
  color: white;
  overflow: hidden;

}
#home{
  posotion: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  overflow:hidden;
  display: none;
}
#home2{
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
  top:0px;
  left:0px;
  color:white;
  z-index: 2;
}
#animated_portion_outer{
  position:absolute;
  width:70%;
  height:70%;
  top:5%;
  left:15%;
  background:#424242;
}
#solars{
  position:absolute;
  width:70%;
  height:70%;
  top:5%;
  left:15%;
}

#animated_portion{
  position:absolute;
  width:43%;
  height:55%;
  top:10%;
  left:28%;
  background:#424242;
  color:white;
}
#animated_portion_inside{
  position:absolute;
  width:100%;
  height:100%;
  top:0%;
  left:0%;

}
#text_description{
  position:absolute;
  width:100%;
  height:60%;
  top:60%;
  left:0%;
  color:black;
  text-align:center;
  font-size:2em;
}
.dot{
  position:absolute;
  left:48%;
  top:48%;
  width:10px;
  height:10px;
  border-radius:50%;
  background:white;
}

#play-btn{
  width:0;
  height:0;
  top:29.5%;
  left:49%;
  border-style:solid;
  border-width:15px 0 15px 30px;
  border-color:transparent transparent transparent #424242;
  position: absolute;
  opacity:0;
}
#play-btn2{
  width:0;
  height:0;
  top:33%;
  left:38.5%;
  border-style:solid;
  border-width:15px 0 15px 30px;
  border-color:transparent transparent transparent white;
  position: absolute;
}
#base{
position: absolute;
opacity: 0;
top: 298px;
left: 39.7%;
width: 230px;
height: 0px;
border-radius: 0%;
z-index: 9999;
border-width: 5px;
border:5px solid white;
 }
.jak{
  position: absolute;
  left:2px;
  width:2px;
  top:-2px;
  height:2px;
  border:2px solid black;
  border-radius: 50%;
  z-index: 999;
  opacity: 0;
}
#rec{
position: absolute;
left:40px;
width:40px;
background-color: black;
height: 2px;
z-index: 9999;
opacity: 0;
}
#img{
height:400px;
width:400px;
position: absolute;
background-image: url("../images/glow.png");
transform: rotate(-20deg);
left:38.1%;
top:5.2px;
z-index:9999;
background-repeat: no-repeat;
opacity: 0;
display: none;
}
.flying_text{
z-index: 9999;
position: absolute;
top:44%;
left:46%;
opacity:0;
color: white;
font-family: arial;
font-size: 12px;
color:white;
}
.descText{
height:30px;
position: absolute;
text-align: center;
font-size: 30px;
font-family: arial;
display: none;
}
#descriptionText{
position: relative;
top:590px;
left:500px;
color:#00A99D;

}

.inclined{
position: absolute;
width:3px;
height:200px;
background-color: white;
z-index: 9999;
}
.popCircle{
height: 130px;
width: 130px;
border-radius: 50%;
border:2px solid white;
position: absolute;
left: 570px;
top: 250px;
z-index: 1;
display: none;

}
#largestCircle{
height:20px;
width:20px;
background-color:#00A99D;
position: absolute;
left:634px;
top:300px;
z-index: 1;
border-radius:50%;
display: none;
}
#home2 ul{
position: absolute;
left:41%;
top:30%;

}

#circleOfButton{
height:80px;
width: 80px;
border:2px solid white;
border-radius: 50%;
position: relative;
left:45.5%;
top:40%;

}
#circleOfButton:hover{
cursor: pointer;
}
#sunFlames{
  position: absolute;
  height:100px;
  width:100px;
  z-index:1;
  left: 601px;
  top: 164.5px;
background-image: url(../images/sun.svg);
display: none;
}
#circle1{
  background-image: url("../images/ai.svg");
}
#circle2{
  background-image: url("../images/ps.svg");
}
#circle3{
  background-image: url("../images/cdr.svg");
}
